@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-220 {
  min-height: 220px;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  z-index: 999999;
}

.loader {
  position: absolute;
  transform: -moz-translate(50%, 50%);
  transform: -ms-translate(50%, 50%);
  transform: translate(50%, 50%);
  left: calc(50% - 50px);
  top: 30%;
}

.show-on-print {
  display: none !important;
}

@media print {
  .hide-on-print {
    display: none !important;
  }

  .show-on-print {
    display: block !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  .estimation-col__header {
    padding: 10px 30px !important;
    min-height: unset;
  }

  .estimates-grid {
    display: flex !important;
    flex-direction: column;
    width: 800px !important;
  }

  .estimates-grid>.estimate-column {
    page-break-inside: avoid;
    margin-bottom: 20px;
  }

  .estimates-grid>.estimate-column>div>div:last-child {
    padding-bottom: unset;
  }

  .accordion-content {
    display: grid !important;
  }

  .accordion-content>div {
    padding: 5px;
  }

  .section-title {
    margin: 5px 0 !important;
  }

  .total span {
    font-size: 28px;
    font-weight: 500;
  }

  .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .close-btn,
  .js-close-project {
    display: none !important;
  }

  .pie {
    display: flex;
    align-items: center;
  }

  /* for printing */
  header,
  footer {
    page-break-after: avoid;
  }

  section {
    page-break-inside: avoid;
  }
}

header,
footer {
  text-align: center;
  margin-bottom: 40px;
}

h1,
h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

section {
  margin-bottom: 40px;
}

/* Area Distribution Table */
.area-distribution table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.area-distribution th,
.area-distribution td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

/* Pie Chart Styles */
.pie-chart {
  display: block;
  margin: 0 auto 20px;
  max-width: 300px;
}

/* Project Metrics */
.project-metrics ul {
  list-style-type: none;
  padding: 0;
}

.project-metrics li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Location Map */
.location-map {
  text-align: center;
  margin-top: 20px;
}

.location-map img {
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  font-size: 14px;
}

.report-header {
  background-color: #595959;
  color: white;
  padding: 20px;
  text-align: center;
}

.report-content {
  padding: 20px;
}

/* Grid Layout for Estimates */
.estimates-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.estimate-column {
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.estimate-header {
  background-color: #D2D2D2;
  padding: 15px;
  margin-bottom: 20px;
}

.estimate-header h2 {
  margin: 0;
}

.estimate-header p {
  margin-top: 10px;
  color: #333;
}

.estimate-body {
  flex-grow: 1;
}

/* Sections within Estimates */
.section {
  margin-bottom: 20px;
}

.section h3 {
  margin-bottom: 10px;
  color: #333;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #505050;
}

/* Total Cost Styling */
.total-cost {
  background-color: #595959;
  color: white;
  padding: 15px;
  text-align: right;
  font-size: 24px;
  margin-top: auto;
  /* Push total cost to the bottom */
}